<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espejo Inteligente</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Control InfoMirror &#129694;&#10024;</h1>

        <!-- Grupo: Pantalla -->
        <div class="button-group">
            <button onclick="sendCommand('/turn_on_screen')">&#128994; Encender Pantalla</button>
            <button onclick="sendCommand('/turn_off_screen')">&#128308; Apagar Pantalla</button>
        </div>

        <!-- Grupo: Informacion -->
        <div class="button-group">
            <button onclick="sendCommand('/show_time')">&#128338; Ver hora</button>
            <button onclick="sendCommand('/show_calendar')">&#128197; Ver calendario</button>
            <button onclick="sendCommand('/show_climate')">&#9729; Ver clima</button>
        </div>
        
        <!-- Grupo: LEDs y brillo -->
        <div class="button-group">
            <button onclick="sendCommand('/turn_on_leds')">Encender LEDs</button>
            <button onclick="sendCommand('/turn_off_leds')">Apagar LEDs</button>
        </div>
    </div>



    <script>
        // Funcion para enviar comandos al servidor sin recargar la pagina
        function sendCommand(command) {
            fetch(command, {
                method: 'GET'
            })
            .then(response => response.text())
            .then(data => {
                console.log(data); // Ver en la consola lo que devuelve el servidor
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        // Funcion para actualizar el valor del brillo
        function updateBrightnessValue(value) {
            document.getElementById('brightness-value').textContent = value;

            fetch('/adjust_brightness/' + value, {
                method: 'GET'
            })
            .then(response => response.text())
            .then(data => {
                console.log(data); // Mostrar la respuesta en la consola
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
</body>
</html>

